@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer utilities {
  .sign-section {
    @apply bg-slate-100 flex-1 py-5 flex flex-col place-items-center md:flex-row;
  }
  .form-container {
    @apply bg-white w-10/12 py-6 px-4 mt-5 rounded-md shadow-2xl h-fit md:w-1/2 md:mx-12;
  }
  .form-heading {
    @apply text-xl tracking-tight text-indigo-800 font-semibold mb-5;
  }
  .form {
    @apply flex flex-col space-y-1;
  }

  .form-input {
    @apply bg-slate-100 rounded-sm px-3 py-2 outline-slate-600;
  }

  .form-button {
    @apply bg-indigo-800 text-white py-2 px-2 !mt-5 rounded-md;
  }
}
